* {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

a {
    width: 25%;
}
.wrapper {
    width: 70%;
    margin: 10px auto 0;
    background-color: black;
    height: 500px;
    display: flex;
    float: left;
}
.wrapper h1 {
    color: rgb(106, 237, 247);
}
aside {
    width: 30%;
    margin: 10px auto 0;
    display: flex;
    float: left;
    height: 500px;
    background-color: aqua;
}
footer {
    background-color: brown;
    display: flex;
    height: 100px;
    }